<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boulhexanome.application_smartooz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:enabled="true" android:name=".Utils.LocationService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.Parcours"
            android:label="@string/title_activity_parcours" />
        <activity android:name=".Activities.InscriptionActivity" />
        <activity
            android:name=".Activities.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_login">
        </activity>

        <activity android:name=".Activities.VisiterLyonActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.ListCircuit"/>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.ChoixDuThemeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.CreerParcours"
            android:label="@string/title_activity_creer_parcours"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Activities.CircuitDetailsActivity"
            android:label="@string/title_activity_circuit_details"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Activities.CongratulationsCircuitEndActivity"
            android:label="@string/title_activity_congratulations_circuit_end"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.MesParcoursActivity"></activity>
    </application>

</manifest>